<!-- Loop over each object in the topics array -->

{{#each topics as |topic| }}
<div class = "topic">
  <a href="/topic/{{topic.id}}" class = "topic-link">
    <div class="row mb-4">
      <div class="col-md-5">
        <h2>{{topic.title}}</h2>
        <p>Created by {{topic.user.name}} on {{format_date topic.date_created}}</p>
      </div>
      <div class="col-md-7">
        <p>{{topic.content}}</p>
      </div>
    </div>
  </a>
</div>
<br>
{{/each}}