<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>



{{#if topics.length}}
<div class="col-md-8 topic-list">
  <h3>Current topics:</h3>

  {{#each topics as |topic|}}
  <div class="row mb-4">
    <div class="col-md-5">
      <p class="topic-header"><a href="/topic/{{topic.id}}">{{topic.title}}</a>
    </div>
    <div class="col-md-1">
      <button class="btn btn-sm btn-danger edit-topic" data-id="{{topic.id}}">Edit</button>
      <button class="btn btn-sm btn-danger delete-topic" data-id="{{topic.id}}">Delete</button>
    </div>
    
  </div>
  {{/each}}
</div>
{{/if}}

<a href="api/topics/create">Create</a>

<script src="./js/profile.js"></script>
